{% extends 'blog/base.html' %}
{% block content %}
{% load static %}



<body>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
               <br><br><br>

                <img src="{% static 'bikeduo.jpeg' %}" class="img-fluid" alt="Responsive image">
                
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
               <div>
                <p>Since embarking on my coding journey 4 years ago, 
                    I have discovered my true passion: software development.
                     During this time, I have earned certifications in Python, JavaScript, HTML, and Django, which have ignited my enthusiasm for 
                     building server-side applications. Currently, I am expanding my portfolio with projects like an inventory management 
                     system and a joke-telling chatbot, while also taking courses to develop my skills in front end development with React.<br><br>

                    My extensive retail management experience has equipped me with valuable leadership skills such as leading teams, fostering individual growth, and delivering excellent customer service. As I embark on a new career path as a software developer, I am confident that my ability to listen attentively, communicate effectively, and make decisions quickly will be an asset.
                    <br><br>
                    Currently, my skillset includes:<br>
                     Python,
                     Django,
                     Databases,
                     AWS fundamentals,
                     HTML/CSS,
                     Javascript
                    </p>

               </div>
               </div>
                
                   
                   
                </div>

                <br/>
                       
                        
                       
                       
                
                
                        
                                </div>
                            </div>
                        </form>
                    </div>
                    

                </div>
               
            </div>
            
        </article> 
                    
       
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            
                            
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Evan Krupa 2024</div>
                    </div>
                </div>
            </div>
    </body>


</body>



{% endblock %}